#simplesharefollowbuttonadmin {
}
.detailsStyle {
	margin-bottom: 5px;
}
.summaryStyle {
	cursor: pointer;
	padding: 10px;
	border: 1px solid #ddd;
	background: #f4f4f4;
	color: #000;
}
.detailsdivStyle {
	display: block;
	padding:5px 20px;
}
.tableStyle {
	border-collapse: collapse;
}
.service_url {
	width: 40em;
}
.space_icons {
	width: 30em;
}
